<div class="container-fluid" ng-controller="loginCtrl">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well">
                <h1 class="text-center">用户登录</h1>
                <form name="loginForm">
                    <div class="alert alert-danger" ng-if="error">用户名或密码错误</div>
                    <div class="input-group" ng-class="{'has-error':loginForm.username.$invalid}">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" name="username" class="form-control" placeholder="用户名" required ng-model="user.username">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                        <input type="password" name="password" class="form-control" placeholder="密码" required ng-model="user.password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="remember">记住我</label>
                    </div>
                    <div>
                        <button class="btn btn-success btn-block" ng-disabled="loginForm.$invalid" ng-click="login()">登录</button>
                    </div>
                </form>
                <div></div>
            </div>
        </div>
    </div>