<div class="panel-group" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" id="showMenu" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
            用户管理
          </a>
            </h4>
        </div>
        <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1"
            aria-expanded="true">
            <ul class="list-group">
                <li class="list-group-item" style="text-indent: 2em;"><a ui-sref="select_user">查看所有用户</a></li>
                <li class="list-group-item" style="text-indent: 2em;"><a ui-sref="add_user">添加用户</a></li>
                <li class="list-group-item" style="text-indent: 2em;"><a ui-sref="search_user">查找用户</a></li>
            </ul>
            
    </div>
</div>
</div>